@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "VietnamSemiBold";
  src: url("../public/assets/fonts/BeVietnamPro-SemiBold.ttf");
}

@font-face {
  font-family: "VietnamRegular";
  src: url("../public/assets/fonts/BeVietnamPro-Regular.ttf");
}

@font-face {
  font-family: "VietnamBold";
  src: url("../public/assets/fonts/BeVietnamPro-Bold.ttf");
}

@font-face {
  font-family: "VietnamMedium";
  src: url("../public/assets/fonts/BeVietnamPro-Medium.ttf");
}
/* <div className="absolute top-0 left-0 w-1/2 h-full bg-[url('../public/assets/images/Ellipse1.png')] bg-scroll bg-right bg-no-repeat bg-cover"></div> */
/* body {
  background-image: url("../public//assets/images/Ellipse1.png");
  background-size: 50%;
  background-repeat: no-repeat;
} */
body {
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px;
  background-image: radial-gradient(
      40% 50% at 1% 5%,
      #00e1f880 0%,
      #81939e00 100%
    ),
    radial-gradient(40% 50% at 99% 5%, #9800ff85 2%, #9e818100 100%);
}

/* body.dark {
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px;
  background-image: radial-gradient(
      40% 50% at 1% 5%,
      #00e1f880 0%,
      #81939e00 100%
    ),
    radial-gradient(40% 50% at 99% 5%, #9800ff85 2%, #9e818100 100%);
} */

.background-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

div {
  font-family: "VietnamRegular";
}

h1 {
  font-family: "VietnamBold";
  font-size: 36px;
}

h2 {
  font-family: "VietnamRegular";
  font-size: 16px;
}

.footerHead {
  font-family: "VietnamBold";
}

h3 {
  font-family: "VietnamRegular";
  font-size: 16px;
  font-weight: bold;
}

input {
  font-family: "VietnamRegular";
}

textarea {
  font-family: "VietnamRegular";
}

th {
  font-family: "VietnamRegular";
  font-size: 16px;
}

p {
  font-family: "VietnamRegular";
  font-size: 14px;
}

.nav-menu {
  font-family: "VietnamSemiBold", sans-serif;
}

textarea:focus,
input:focus {
  outline: none;
}

.banner-shadow {
  box-shadow: 1px 0px 6px 3px rgba(76, 73, 73, 0.301);
}

a {
  font-family: "VietnamSemiBold";
}

.VideoGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
}

.glassEffect {
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  background-color: rgba(97, 17, 112, 0.75);
}

.blurNav {
  backdrop-filter: blur(11px) saturate(180%);
  -webkit-backdrop-filter: blur(11px) saturate(180%);
  background-color: rgba(114, 114, 114, 0.75);
}

@media only screen and (max-width: 768px) {
  h1 {
    font-family: "VietnamBold";
    font-size: 24px;
  }

  h2 {
    font-family: "VietnamRegular";
    font-size: 15px;
  }

  a {
    font-family: "VietnamSemiBold";
    font-size: 12px;
  }
}

@media only screen and (min-width: 1500px) {
  .filter-shadow {
    box-shadow: 1px 0px 6px 3px rgba(76, 73, 73, 0.301);
  }
  .search-bar {
    width: 20vw;
  }
}

.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):focus),
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):hover) {
  background-color: transparent;
  --tw-bg-opacity: 0.1;
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):focus),
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):hover) {
  background-color: transparent;
  --tw-bg-opacity: 0.1;
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active),
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active) {
  --tw-bg-opacity: 1;
  background-color: transparent;
  --tw-text-opacity: 1;
  color: hsl(var(--pc) / var(--tw-text-opacity));
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active),
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active) {
  --tw-bg-opacity: 1;
  background-color: transparent;
  --tw-text-opacity: 1;
  color: hsl(var(--pc) / var(--tw-text-opacity));
}
.menu :where(li:empty) {
  margin-left: 1rem /* 16px */;
  margin-right: 1rem /* 16px */;
  margin-top: 0.5rem /* 8px */;
  margin-bottom: 0.5rem /* 8px */;
  height: 1px;
  background-color: transparent;
  --tw-bg-opacity: 0.1;
}

.divider:before {
  background-color: darkgrey;
}
.divider:after {
  background-color: darkgrey;
}

.divider:not(:empty) {
  gap: 0;
}

.MuiTypography-root {
  text-align: center;
  font-size: medium;
  font-family: "VietnamRegular";
}
.MuiTypography-body2 {
  text-align: center;
  font-size: medium;
  font-family: "VietnamRegular";
}
.css-e784if-MuiTypography-root {
  text-align: center;
  font-size: medium;
  font-family: "VietnamRegular";
}

.MuiPickersCalendarHeader-label {
  font-family: "VietnamRegular";
}

.css-dplwbx-MuiPickersCalendarHeader-label {
  font-family: "VietnamRegular";
}

.tooltip:before {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  content: var(--tw-content);
  --tw-content: attr(data-tip);
  max-width: 20rem /* 320px */;
  border-radius: 0.25rem /* 4px */;
  padding-left: 0.4rem /* 8px */;
  padding-right: 0.4rem /* 8px */;
  padding-top: 0.25rem /* 4px */;
  padding-bottom: 0.25rem /* 4px */;
  font-size: 0.7rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  background-color: var(--tooltip-color);
  color: var(--tooltip-text-color);
  width: max-content;
}

.banner-card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0);
}
